@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Palette */
  --color-extra-white: hsl(60, 16%, 85%);
  --color-naval: hsl(222, 12%, 17%);
  --color-saguaro: hsl(62, 41%, 24%);
  --color-tont-taupe: hsl(47, 18%, 57%);
  --color-wondrous-blue: hsl(228, 9%, 67%);

  /* Color definitions */
  --main-bg-color: var(--color-naval);
  --main-text-color: var(--color-extra-white);
  --accent-color: var(--color-saguaro);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}


.custom-font-size {
  font-size: clamp(2rem, 3vw, 5rem);
}
