 ---
import '@styles/global.css';
import { Masthead } from "@components/organisms/index.astro";
 ---

<html lang="sv">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<title>Nordens bygg och fasadteknik AB</title>
	</head>
	<body>
		<main>
			<Masthead />
		</main>
	</body>
</html>
