---
import { Button } from '@components/atoms/index.astro';
---

<form autocomplete="on" class="flex flex-col text-main mb-4" data-netlify="true" enctype="application/x-www-form-urlencoded" id="contact-form" method="POST" name="contact-form">
  <label class="bg-main block text-sm font-bold mb-2" for="name">* Namn</label>
  <input autocomplete="name" class="bg-main shadow appearance-none border border-secondary rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline mb-4" id="name" name="name" required="" type="text">
  <label class="bg-main block text-sm font-bold mb-2" for="email">* E-post</label>
  <input autocomplete="email" class="bg-main shadow appearance-none border border-secondary rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline mb-4" id="email" name="email" required="" type="email">
  <label class="bg-main block text-sm font-bold mb-2" for="organization">Företag</label>
  <input autocomplete="organization" class="bg-main shadow appearance-none border border-secondary rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline mb-4" id="organization" name="organization" type="text">
  <label class="bg-main block text-sm font-bold mb-2" for="input-textarea-message">* Meddelande</label>
  <textarea class="bg-main shadow appearance-none border border-secondary rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline mb-8 h-36" id="input-textarea-message" name="message" required="">
  </textarea>
  <Button fullWidth={true} text="SÄND" type="submit"  />
</form>
