---
import { FeaturesItem } from '@components/molecules/index.astro';
import { BlendingModeIcon, Component1Icon, LayersIcon } from '@components/atoms/index.astro';
---

<section class='gap-x-3 gap-y-2 grid grid-cols-[34px_auto] max-w-3xl mx-auto px-4 py-16 lg:grid lg:grid-cols-[34px_1fr_34px_1fr_34px_1fr] lg:max-w-screen-2xl'>
  <FeaturesItem icon={LayersIcon} heading="Murning & putsning"  paragraph="Med allt inom murarbete, inklusive murning och murputs, förskönar och stärker vi din byggnad. Vårt arbete säkerställer hållbarhet och estetisk tilltalande finish." />
  <FeaturesItem icon={Component1Icon} heading="Plattsättning" paragraph="Vår plattsättningstjänst förvandlar utomhusområden till eleganta och funktionella utrymmen. Vi arbetar med högkvalitativa material för att skapa bestående resultat." />
  <FeaturesItem icon={BlendingModeIcon} heading="Målning & tvättning" paragraph="Förnya ditt hem med vår målning och tvättningstjänst. Vi använder miljövänliga produkter för att ge dina ytor ett fräscht och inbjudande utseende." />
</section>
